body, html {
	font-family: 'Roboto', sans-serif;
	color: #656565;
}

/*
 *	MAIN
 */
.main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*
 *	HELPERS
 */
.text-center {
	text-align: center;
}
.important {
	color: #4e61f0;
}